@keyframes bounce {
    0%,
    40%,
    70%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(-15px);
    }

    80% {
        transform: translateY(-5px);
    }
}
