@import 'variables';
@import 'mixins';

.board {
  @include component();

  display: grid;
  // use global variable to render board template
  grid-template: repeat($board-size, 1fr) / repeat($board-size, 1fr);
  grid-gap: 10px;

  &__square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    font-size: 2rem;
    color: $font-color;

    &:hover,
    &:focus {
      outline: none;
    }

    &--empty {
      @include button-color($background-color-square-empty);

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }

    &--X {
      background-color: $background-color-square-X;
    }

    &--O {
      background-color: $background-color-square-O;
    }
  }
}
