@import 'variables';
@import 'animations';
@import 'mixins';

.board {
    @include component();

    display: grid; // use global variable to render board template
    grid-template: repeat($board-size, 1fr) / repeat($board-size, 1fr);
    grid-gap: 10px;

    @include breakpoint('small') {
        width: 80vh;
        margin: 0 auto;
    }

    &__square {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: 0;
        color: $font-color;
        font-size: 4rem;

        @include breakpoint('small') {
            font-size: 8rem;
        }

        &:hover,
        &:focus {
            outline: none;
        }

        &--empty {
            @include button-color($background-color-square-empty);

            transition: all 200ms;

            &:hover,
            &:focus {
                cursor: pointer;
                box-shadow: 0 0 6px 6px darken($background-color-square-empty, 7%);
            }
        }

        &--X {
            background-color: $background-color-square-X;
        }

        &--O {
            background-color: $background-color-square-O;
        }

        &--is-last-moved {
            span {
                animation: bounce 1s ease;
                animation-iteration-count: 1;
            }
        }
    }
}
