@import 'variables';

html,
body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: $background-color-main;
}

.app {
    min-height: 100%;
    display: grid;
    grid-template-rows: [header] auto [board] 1fr [toolbar] auto;
}

.header {
    @include component();

    position: relative;
    text-align: center;
    color: $font-color;

    &__new-game-button {
        position: absolute;
        top: 15px;
        left: 15px;
        border: 0;
        color: $font-grey-color;
        background-color: inherit;
        padding: 0;
        font-size: 16px;
        cursor: pointer;
        outline: none;

        &:hover,
        &:focus {
            color: lighten($font-grey-color, 10%);
        }

        &:active {
            color: darken($font-grey-color, 5%);
        }
    }
}
