@import 'variables';
@import 'mixins';

.toolbar {
    @include component();

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    position: relative;
    z-index: 0;
    color: $font-color;

    &__score-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;

        &:last-child {
            &::after {
                content: '';
                display: block;
                position: absolute;
                transition: left 1s ease;
                background: $player-indicator-color;
                bottom: 0;
                height: 5px;
                left: 0;
                width: 50%;
                z-index: -1;
            }
        }

        &:nth-child(1)[data-is-current-turn="true"] ~ &:last-child::after {
            left: 0;
        }

        &:nth-child(2)[data-is-current-turn="true"]::after {
            left: 50%;
        }
    }

    &__player-title {
        font-size: 1.1rem;
    }

    &__score {
        font-size: 3rem;
        margin-top: 10px;

        &--1 {
            color: $background-color-square-X;
        }

        &--2 {
            color: $background-color-square-O;
        }
    }
}
